html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: visible;
}

#options-container {
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 999;
}

#options-box {
    background-color: #ccc;
    float: left;
    padding: 10px;
    border: solid 3px teal;
    position: relative;
}

#options-box ul li {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}

#cog {
    float: left;
    background-color: teal;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.parent {
    height: 400px;
    background-color: #09c;
}

.parent .item {
    height: 100px;
    background-color: tomato;
    width: 22%;
}

.navBarImg {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-top: 10px;
}

.partners-text {
    text-align: right;
    margin: 10px;
    color: #09c;
}

#hashItems {
    background-color: brown;
    align-items: center;
}

h1 {
    color: #09c;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-size-adjust: 50;
    font-weight: 800;
    text-align: center;
}

.a {
    border: #09c;
    float: left;
}

.rounded-numbers {
    width: 150;
    height: 150;
    background-color: #fbb900;
    display: table;
}

.nahda-child-numbers {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    font-size: xx-large;
}

.nahda-number-subtitle {
    color: darkslategrey;
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
}

.full-end-text {
    font-size: xx-large;
}

.text-contain {
    background-color: darkslategrey;
    margin: auto;
    size: 150;
    height: 300px;
    color: white;
}

.form-container {
    background-color: yellow;
}

.navbar-brand {
    margin-right: 150;
    align-items: center;
}

.footer-text {
    font-size: medium;
    color: #09c;
}

.search-form {
    margin-left: 500;
    margin-top: 25;
}

.form-me {
    margin: auto;
}

.img-nahda-up {
    height: 75;
    width: 70;
}

.navbar {
    height: 50;
}

.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#nahdat-misr-video-title::before {
    content: "";
    width: 3px;
    background: #fbb900;
    height: 30px;
    position: absolute;
    right: 0;
    margin-right: 35%;
}

.section-title2::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

h3 {
    font-size: large;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    color: cornflowerblue;
}

.btn {
    width: 150px;
    height: auto;
    color: rgb(255, 255, 255) !important;
    background-color: #09c;
    border-radius: 15px;
}

.btn-info {
    width: 100px;
    height: auto;
    border-radius: 10px;
    color: rgb(255, 255, 255) !important;
    font-weight: 900;
    background-color: #09c;
    border-style: solid;

}

.btn-info:hover {
    background-color: #09c;
    border-style: solid;
    border-color: #fbb900;
}

.active .btn-info {
    width: 100px;
    height: auto;
    border-radius: 10px;
    color: rgb(255, 255, 255) !important;
    font-weight: 900;
    background-color: #09c;
    border-style: solid;
    border-color: #fbb900;
}

.img-fluid {
    border-radius: 4px;
}

.customer-books img {
    border-radius: 15px;
}

.customer-books h3 {
    margin-top: 5px;
    font-size: medium;
}

.container-fluid p {
    color: #09c !important;
}

.card-nadetmisr-number {
    border-style: solid;
    border-radius: 15px;
    border-color: #09c;
    border-width: 1px;
    width: 90%;
}

.card-body-last-book {
    border-style: solid;
    border-radius: 15px;
    border-color: #09c;
    border-width: 0px;
}

.card {
    border-color: #09c;
    border-style: solid;
    border-radius: 15px;
    background-color: white;
}

.card-body {
    background-color: white;
    border-style: solid;
    border-radius: 15px;
}

.card-header {
    font-weight: 900;
    border-width: 0px;
}

.new-card .btn {
    margin-top: 10px;
}

.new-card p {
    margin-top: 10px;
    color: #09c;
    font-weight: 500;
}

.new-card .card {
    border-radius: 15px;
}

.arrowR {
    margin-top: 50;
}

.slide {
    height: 500;
}

h2 {
    text-align: center;
    padding: 20px;
}

/* Slider */

.client {
    height: 300px;
}

.books {
    height: 400px;
    background-color: silver;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.navbar-collapse {
    background-color: white;
}

.navbar-collapse ul {
    text-align: center;
}

.navbar-collapse {
    width: 50px !important;
}

#call-me {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    z-index: 1000;
    background-color: #09c;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    color: antiquewhite;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mail-input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

#submet-text {
    color: #09c;
}

#video-div {
    height: 300px;
    width: auto;
    text-align: center;
    background-color: #09c;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    border-style: solid;
    border-color: white;
    border-radius: 15px;
}